<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="local" value="datasource=127.0.0.1; port=3306; uid=root; password=" />
    <add key="sej" value="datasource=10.22.157.67; port=3306; uid=luiseduardo_torr; password=leso_87u-;" />
    <add key="sigejupe" value="datasource=10.22.157.98;database=htsj_sigejupe; port=3306; uid=estadistica; password=3Stad1stiC4_2021;" />
  </appSettings>

</configuration>
